<div class="container_nombre_sitio">
    <h1>Saint Peter Games</h1><!-- Nombre de la empresa -->
</div>
<nav>
    <ul>
        <li><a routerLink="/index">Inicio</a></li>
        <li><a routerLink="/familiar">Familiar</a></li>
        <li><a routerLink="/infantil">Infantil</a></li>
        <li><a routerLink="/cooperativo">Cooperativo</a></li>
        <li><a routerLink="/aventura">Aventura</a></li>
        <li><a routerLink="/registro">Registrarse</a></li>
    </ul>
</nav>
<h2>Juegos de Mesa</h2>
<div class="container">
    <ul class="breadcrumb">
        <li><a routerLink="/index">Inicio</a></li>
        <li>Infantil</li>
      </ul>
    <div class="product">
        <img src="assets/images/infantil_1.png" alt="Producto 4">
        <h3>Taco Gatito Pizza</h3>
        <p>Este juego de cartas requiere de toda tu atención y rapidez. ¡Sobre todo rapidez!</p>
        <p class="precio">$11.990</p>
        <button class="button">Añadir al Carrito</button>
    </div>
    <div class="product">
        <img src="assets/images/infantil_2.png" alt="Producto 5">
        <h3>¿Quién Fue?</h3>
        <p>Compiten para deshacerse de sus cartas y así evitar la culpa de ser el dueño del animal que se hizo caca.</p>
        <p class="precio">$12.990</p>
        <button class="button">Añadir al Carrito</button>
    </div>
    <div class="product">
        <img src="assets/images/infantil_3.png" alt="Producto 6">
        <h3>Mindo: Perros</h3>
        <p>Juego de lógica para niños. Puzzles multinivel, completar el cuadrado con las piezas dadas.</p>
        <p class="precio">$10.000</p>
        <button class="button">Añadir al Carrito</button>
    </div>
    <div class="clear"></div>
</div>