<div class="container_nombre_sitio">
    <h1>Saint Peter Games</h1><!-- Nombre de la empresa -->
</div>
<nav>
    <ul>
        <li><a routerLink="/index">Inicio</a></li>
        <li><a routerLink="/familiar">Familiar</a></li>
        <li><a routerLink="/infantil">Infantil</a></li>
        <li><a routerLink="/cooperativo">Cooperativo</a></li>
        <li><a routerLink="/aventura">Aventura</a></li>
        <li><a routerLink="/registro">Registrarse</a></li>
    </ul>
</nav>
<h4 class="text-center">Juegos de Mesa</h4>
<br>
<div id="carruselPrincipal" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carruselPrincipal" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carruselPrincipal" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carruselPrincipal" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carruselPrincipal" data-bs-slide-to="3" aria-label="Slide 4"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/images/familiar_1.png" class="d-block w-100 carousel-image" alt="Juego categoria Familiar">
    </div>
    <div class="carousel-item">
      <img src="assets/images/infantil_1.png" class="d-block w-100 carousel-image" alt="Juego categoria Infantil">
    </div>
    <div class="carousel-item">
      <img src="assets/images/cooperativo_1.png" class="d-block w-100 carousel-image" alt="Juego categoria Cooperativo">
    </div>
    <div class="carousel-item">
      <img src="assets/images/aventura_1.png" class="d-block w-100 carousel-image" alt="juego categoria Aventura">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carruselPrincipal" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carruselPrincipal" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<br>
<br>
<!-- Lista de categorías de juegos de mesa -->
<h4 class="text-center">Categorías</h4>
<div class="container">
    <div class="category">
        <img src="assets/images/categoria_familia.png" alt="Categoría 1">
        <h3>Familiar</h3>
        <button class="button" id="btnFamiliar" routerLink="/familiar">Ver Productos</button>
    </div>
    <div class="category">
        <img src="assets/images/categoria_infantil.png" alt="Categoría 2">
        <h3>Infantil</h3>
        <button class="button" id="btnInfantil" routerLink="/infantil">Ver Productos</button>
    </div>
    <div class="category">
        <img src="assets/images/categoria_cooperativo.png" alt="Categoría 3">
        <h3>Cooperativo</h3>
        <button class="button" id="btnCooperativo" routerLink="/cooperativo">Ver Productos</button>
    </div>
    <div class="category">
        <img src="assets/images/categoria_aventura.png" alt="Categoría 4">
        <h3>Aventura</h3>
        <button class="button" id="btnAventura" routerLink="/aventura">Ver Productos</button>
    </div>
    <div class="clear"></div>
</div>
