<div class="container_nombre_sitio">
    <h1>Saint Peter Games</h1><!-- Nombre de la empresa -->
</div>
<nav>
    <ul>
        <!-- Hipervínculos -->
        <li><a routerLink="index" href="index.html">Inicio</a></li>
        <li><a href="familiar.html">Familiar</a></li><!-- Categoria -->
        <li><a href="infantil.html">Infantil</a></li><!-- Categoria -->
        <li><a href="cooperativo.html">Cooperativo</a></li><!-- Categoria -->
        <li><a href="aventura.html">Aventura</a></li><!-- Categoria -->
        <li><a href="registro.html">Registrarse</a></li><!-- Formulario registro -->
    </ul>
</nav>
<h2>Juegos de Mesa</h2>
<br>
<div class="container_imagenes_inicio">
    <img src="assets/images/familiar_1.png" alt="Imagen 1">
    <img src="assets/images/infantil_1.png" alt="Imagen 2">
    <img src="assets/images/cooperativo_1.png" alt="Imagen 3">
    <img src="assets/images/aventura_1.png" alt="Imagen 4">
</div>
<br>
<!-- Lista de categorías de juegos de mesa -->
<h2>Categorías</h2>
<div class="container">
    <div class="category">
        <img src="assets/images/categoria_familia.png" alt="Categoría 1">
        <h3>Familiar</h3>
        <button class="button" id="btnFamiliar" onclick="window.location.href = 'familiar.html'">Ver Productos</button>
    </div>
    <div class="category">
        <img src="assets/images/categoria_infantil.png" alt="Categoría 2">
        <h3>Infantil</h3>
        <button class="button" id="btnInfantil" onclick="window.location.href = 'infantil.html'">Ver Productos</button>
    </div>
    <div class="category">
        <img src="assets/images/categoria_cooperativo.png" alt="Categoría 3">
        <h3>Cooperativo</h3>
        <button class="button" id="btnCooperativo" onclick="window.location.href = 'cooperativo.html'">Ver Productos</button>
    </div>
    <div class="category">
        <img src="assets/images/categoria_aventura.png" alt="Categoría 4">
        <h3>Aventura</h3>
        <button class="button" id="btnAventura" onclick="window.location.href = 'aventura.html'">Ver Productos</button>
    </div>      
    <div class="clear"></div>
</div>