body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
/*Menú principal*/
nav {
    background-color: #f79e17;
    overflow: hidden;
    display: flex;
    justify-content: center; /* Centra el contenido del nav */
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; /* Hace que los elementos de la lista se alineen en fila */
}
nav ul li {
    margin: 0 10px; /* Añade espacio entre los elementos del menú */
}
nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
nav ul li a:hover {
    background-color: #2e343a; /* Efecto 1: Añade espacio entre los elementos del menú */
}
/*Contenedores*/
.container_nombre_sitio{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h2{
    text-align: center;
}
.button {
    display: inline-block;
    padding: 10px 15px;
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    background-color: #f79e17;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

/*Responsive*/
@media (max-width: 768px) {
    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav ul {
        flex-direction: column; /* Cambia la dirección de los elementos de la lista a columna */
        align-items: center;
    }

    nav ul li {
        margin: 10px 0; /* Añade espacio entre los elementos del menú vertical */
    }

    nav ul li a {
        padding: 10px 20px; /* Ajusta el espaciado interno de los enlaces */
    }
}
@media (max-width: 480px) {
    nav ul {
        flex-direction: column;
        width: 100%;
    }
    nav ul li {
        margin: 5px 0;
        width: 100%;
        text-align: center;
    }
    nav ul li a {
        width: 100%;
        padding: 14px 0;
    }
}

.mensaje-validacion{
  color: red;
}
