<div class="container_nombre_sitio">
    <h1>Saint Peter Games</h1><!-- Nombre de la empresa -->
</div>
<nav>
    <ul>
        <li><a routerLink="/index">Inicio</a></li>
        <li><a routerLink="/familiar">Familiar</a></li>
        <li><a routerLink="/infantil">Infantil</a></li>
        <li><a routerLink="/cooperativo">Cooperativo</a></li>
        <li><a routerLink="/aventura">Aventura</a></li>
        <li><a routerLink="/registro">Registrarse</a></li>
    </ul>
</nav>
<h2>Juegos de Mesa</h2>
<div class="container">
    <ul class="breadcrumb">
        <li><a routerLink="/index">Inicio</a></li>
        <li>Cooperativo</li>
    </ul>
    <div *ngFor="let producto of productos" class="product">
        <img [src]="producto.imagen" [alt]="producto.titulo">
        <h3>{{ producto.titulo }}</h3>
        <p>{{ producto.descripcion }}</p>
        <p class="precio">
            ${{ producto.precio }}
            <span *ngIf="producto.precioOferta">
                <s class="precio-anterior">${{ producto.precioOferta }}</s>
            </span>
        </p>
        <button class="button">Añadir al Carrito</button>
    </div>
    <div class="clear"></div>
</div>
