<div class="container_nombre_sitio">
    <h1>Saint Peter Games</h1><!-- Nombre de la empresa -->
</div>
<nav>
    <ul>
        <li><a routerLink="/index">Inicio</a></li>
        <li><a routerLink="/familiar">Familiar</a></li>
        <li><a routerLink="/infantil">Infantil</a></li>
        <li><a routerLink="/cooperativo">Cooperativo</a></li>
        <li><a routerLink="/aventura">Aventura</a></li>
        <li><a routerLink="/registro">Registrarse</a></li>
    </ul>
</nav>
<h2>Juegos de Mesa</h2>
<div class="container">
    <ul class="breadcrumb">
        <li><a href="index.html">Inicio</a></li>
        <li>Cooperativo</li>
      </ul>
    <div class="product">
        <img src="assets/images/cooperativo_1.png" alt="Producto 7">
        <h3>Robin Hood Y Sus Alegres Compañeros</h3>
        <p>Estilo eurogame y semicooperativo. Está preparado para 1 a 5 jugadores. Incluye variante en solitario y totalmente cooperativa.</p>
        <p class="precio">$50.000</p>
        <button class="button">Añadir al Carrito</button>
    </div>
    <div class="product">
        <img src="assets/images/cooperativo_2.png" alt="Producto 8">
        <h3>Exit: La Mansión Siniestra</h3>
        <p>Experiencia de las “escape room” en tu propia casa. Atrévete a entrar en la Mansión Siniestra y descubre todos los misterios y acertijos que en ella encontraras.</p>
        <p class="precio">$12.990</p>
        <button class="button">Añadir al Carrito</button>
    </div>
    <div class="product">
        <img src="assets/images/cooperativo_3.png" alt="Producto 9">
        <h3>Magic Maze: Seguridad Máxima</h3>
        <p>Da vida a los guardias del centro comercial de Magic Maze, y también tiene nuevos módulos que brindan nuevas experiencia.</p>
        <p class="precio">$11.990 <span><s class="precio-anterior">$17.990</s></span></p>
        <button class="button">Añadir al Carrito</button>
    </div>
    <div class="clear"></div>
</div>