<div class="container_nombre_sitio">
    <h1>Saint Peter Games</h1><!-- Nombre de la empresa -->
</div>
<nav>
    <ul>
        <li><a routerLink="/index">Inicio</a></li>
        <li><a routerLink="/familiar">Familiar</a></li>
        <li><a routerLink="/infantil">Infantil</a></li>
        <li><a routerLink="/cooperativo">Cooperativo</a></li>
        <li><a routerLink="/aventura">Aventura</a></li>
        <li><a routerLink="/registro">Registrarse</a></li>
    </ul>
</nav>
<h2>Juegos de Mesa</h2>
<div class="container">      
    <ul class="breadcrumb">
        <li><a routerLink="/index">Inicio</a></li>
        <li>Familiar</li>
    </ul>
    <div class="product">
        <img src="assets/images/familiar_1.png" alt="Producto 1">
        <h3>Exit Kids: Acertijos en la Jungla</h3>
        <p>Juego de escape cooperativo</p>
        <p class="precio">$15.000</p>
        <button class="button">Añadir al Carrito</button>
    </div>
    <div class="product">
        <img src="assets/images/familiar_2.png" alt="Producto 2">
        <h3>Fantasma Blitz</h3>
        <p>5 piezas, 60 cartas con ilustraciones.</p>
        <p class="precio">$12.990 <span><s class="precio-anterior">$24.990</s></span></p>
        <button class="button">Añadir al Carrito</button>
    </div>
    <div class="product">
        <img src="assets/images/familiar_3.png" alt="Producto 3">
        <h3>¡Rescate!</h3>
        <p>Es un juego cooperativo de lucha contra el fuego.</p>
        <p class="precio">$22.990 <span><s class="precio-anterior">$32.000</s></span></p>
        <button class="button">Añadir al Carrito</button>
    </div>
    <div class="clear"></div>
</div>