body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
/*Menú principal*/
nav {
    background-color: #f79e17;
    overflow: hidden;
    display: flex;
    justify-content: center; /* Centra el contenido del nav */
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; /* Hace que los elementos de la lista se alineen en fila */
}
nav ul li {
    margin: 0 10px; /* Añade espacio entre los elementos del menú */
}
nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
nav ul li a:hover {
    background-color: #2e343a; /* Efecto 1: Añade espacio entre los elementos del menú */
}
/*Se agrega Breadcrumb, con enlaces internos*/
ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: #eee;
}

ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}

ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

/*Contenedor de productos*/
.fixed-size {
  width: 100%;
  height: 200px;
  object-fit: contain;
}

.card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-body {
  flex-grow: 1;
}

.precio{
  color: rgb(13, 182, 27);
  font-weight: bold;
}
.precio span s {
  color: gray;
}
/*Otros contenedores*/
.container_nombre_sitio{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/*Responsive*/
@media (max-width: 768px) {
    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav ul {
        flex-direction: column; /* Cambia la dirección de los elementos de la lista a columna */
        align-items: center;
    }

    nav ul li {
        margin: 10px 0; /* Añade espacio entre los elementos del menú vertical */
    }

    nav ul li a {
        padding: 10px 20px; /* Ajusta el espaciado interno de los enlaces */
    }
    .category {
        width: calc(50% - 20px);
    }
    .product {
        width: calc(50% - 20px);
    }
}
@media (max-width: 480px) {
    nav ul {
        flex-direction: column;
        width: 100%;
    }
    nav ul li {
        margin: 5px 0;
        width: 100%;
        text-align: center;
    }
    nav ul li a {
        width: 100%;
        padding: 14px 0;
    }

    .category {
        width: calc(100% - 20px);
        float: none;
        margin: 10px auto;
    }
    .product {
        width: calc(100% - 20px);
        float: none;
        margin: 10px auto;
    }
}
